<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igrapesinc.securekids"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Call Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- Text Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>

    <permission
        android:name="com.assignmentproject.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.assignmentproject.app.permission.MAPS_RECEIVE" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".AlarmReceiverGPS" >
        </receiver>
        <!--
       <receiver android:name=".IncomingCallReceiver">   
                <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                </intent-filter>
        </receiver>
        <receiver android:name=".OutgoingCallReceiver">   
                <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                </intent-filter>
        </receiver>
        <receiver android:name=".CallDurationReceiver">
	       <intent-filter>
	           <action android:name="android.intent.action.PHONE_STATE" />
	       </intent-filter>
       </receiver>
        -->

        <service
            android:name=".CallDetectService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".TextDetectService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParentLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.PARENT_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChildLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.CHILD_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddChild"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.ADD_CHILD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Report"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.REPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChildMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.CHILD_MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="MapDisplayActivity" >
            <intent-filter>
                <action android:name="com.igrapesinc.securekids.MapDisplay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Google Maps API Key(Please change android:value) -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD3s2L8EYOYmFpImYulInrQ7Fne1K2Ph_U" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="com.google.android.maps.v2.API_KEY" />
    </application>

</manifest>